.mainheader{
    margin:25px;
    display: flex;
}

.aboutcontainer{
    margin: 30px;
    padding-bottom: 10px;


}
.envsenimage{
    
    text-align: center;
    display: inline-block;
    vertical-align: top;
    

}
.image {
    object-fit: contain;
}


.systemarch{
    padding-top: 10px;
    padding-bottom: 10px;

}
@media screen and (max-width: 768px) {
    .image {
      width: 100%;
      height: auto;
    }
  }