.container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pickerContainer {
    display: flex;
    gap: 5px;
  }
  
  .submitButton{
    background-color: black;
    
    
  }
  .submitButton:hover {
    background-color: #333333;
  }

  .submitButtonContainer {
    margin-top: 10px;
  }
  