.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
.rowitem {
    width: 800px;
    height: 400px;
    padding: 15px;
  }


.loadingDiv {
    justify-content:center;
    align-items: center;
    display: flex;
    padding: 20px;

}